body {
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}
/* HEADER */
div.container-fluid {
	background-color: #EAEAEA;
}

div #navbar-collapse-id {
	background-color: #EAEAEA;
}
h1 {
	font-size: 36px;
	font-weight: bold;
}

li:hover {
	background-color: #ED5E5E;
}
a.navbar-brand {
	font-size: 1.6em;	
}
.navbar-default .navbar-brand {
	color: black;
}
.navbar-toogle, .navbar-default .navbar-toggle .icon-bar{
	background-color: #877671;
}
.navbar-default .navbar-toggle {
	border-color: #877671;
}
/* END HEADER */

/* MAIN CONTENT */
section{
	background-color: #EAEAEA;
	font-size: 1.1em;
}
@media (max-width: 767px){
	.col-xs-12 {
		width: auto;
		margin: 15px;
	}
	div #navbar-collapse-id {
		border: 2px solid #877671;
	}
}